<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间 -->
<mapper namespace="com.hhu20.jsgl.mapper.BonusRuleMapper">

    <select id="selectAll"  resultType="java.util.Map">
        select * from BonusRule;
    </select>

    <select id="select"  resultType="java.util.Map">
        select * from BonusRule where clevel=#{clevel};
    </select>

    <select id="delete"  resultType="java.util.Map">
        delete from BonusRule where clevel=#{clevel};
    </select>

    <select id="update" resultType="java.util.Map">
        update BonusRule
        set stu_1 = #{stu_1},
            stu_2 = #{stu_2},
            stu_3 = #{stu_3},
            stu_no = #{stu_no},
            stu_t = #{stu_t},
            tea_1 = #{tea_1},
            tea_2 = #{tea_2},
            tea_3 = #{tea_3},
            tea_no = #{tea_no},
            tea_t = #{tea_t},
            team_1 = #{team_1},
            team_2 = #{team_2},
            team_3 = #{team_3},
            team_no = #{team_no},
            team_t = #{team_t}
        where clevel = #{clevel};
    </select>

    <insert id="add">
        insert into BonusRule(clevel, stu_1, stu_2, stu_3,stu_no,stu_t,
                              tea_1, tea_2, tea_3,tea_no,tea_t,
                              team_1, team_2, team_3,team_no,team_t)
        values(#{clevel}, #{stu_1}, #{stu_2}, #{stu_3}, #{stu_no}, #{stu_t},
               #{tea_1}, #{tea_2}, #{tea_3}, #{tea_no}, #{tea_t},
               #{team_1}, #{team_2}, #{team_3}, #{team_no}, #{team_t})
    </insert>

</mapper>
