<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间 -->
<mapper namespace="com.hhu20.jsgl.mapper.BonusMapper">

    <select id="selectAllTeaBonus" resultType="java.util.Map">
        select * from tea_bonus_result;
    </select>
    <select id="selectAllStuBonus" resultType="java.util.Map">
        select * from stu_bonus_result;
    </select>

    <select id="searchBonus" resultType="java.util.Map">
        <if test="sno != null and sno != ''">
            select sno as userId, pno, teamno as teamNo, cname, clevel, bonusAmount
            from stu_bonus_result
            where sno = #{sno}
            <if test="pno != null and pno != ''">
                and pno = #{pno}
            </if>
        </if>;
        <if test="tno != null and tno != ''">
            select tno as userId, pno, teamno as teamNo, cname, clevel, bonusAmount
            from tea_bonus_result
            where tno = #{tno}
            <if test="pno != null and pno != ''">
                and pno = #{pno}
            </if>
        </if>;
    </select>


</mapper>