<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间 -->
<mapper namespace="com.hhu20.jsgl.mapper.DeptMapper">
    <select id="selectDept" resultType="com.hhu20.jsgl.pojo.Dept">
        select * from dept
    </select>
    <select id="selectDnameForDno" resultType="java.lang.String">
        select dno from dept where DNAME=#{dname};
    </select>
    <select id="selectAll" resultType="java.util.Map">
        select * from dept;
    </select>
</mapper>