<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间 -->
<mapper namespace="com.hhu20.jsgl.mapper.StudentMapper">

    <insert id="insertStu">
       insert into student(sno, mno, sname, ssex, enrollmentyear)
       VALUES (#{SNO},#{MNO},#{SNAME},#{SSEX},#{ENROLLMENTYEAR});
    </insert>
    <update id="updateStu">
        update student
        set
            mno = #{mno},
            sname = #{sname},
            ssex = #{ssex},
            enrollmentyear = #{enrollmentyear}
        where sno=#{sno}
    </update>

    <select id="selectAll" resultType="java.util.Map">
        select * from stuinfo;
    </select>
    <select id="selectSNO" resultType="java.util.Map">
        select * from stuinfo where sno like #{sno};
    </select>
    <select id="selectByCondition" resultType="java.util.Map">
        select *
        from Student
        where 1=1
        <if test="sno != null and sno != ''">
            and SNO like #{sno}
        </if>
        <if test="mno != null and mno != ''">
            and MNO like #{mno}
        </if>
        <if test="sname != null and sname != ''">
            and SNAME like #{sname}
        </if>
        <if test="ssex != null and ssex != ''">
            and SSEX = #{ssex}
        </if>
    </select>

</mapper>