<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间 -->
<mapper namespace="com.hhu20.jsgl.mapper.TeacherMapper">
    <insert id="insertTea">
        insert into teacher(tno, dno, tname, tsex)
        values (#{TNO},#{DNO},#{TNAME},#{TSEX});
    </insert>
    <update id="updateTea">
        update teacher
        set
            TNAME = #{tname},
            DNO = #{dno},
            TSEX = #{tsex}
        where TNO = #{tno}
    </update>
    <select id="selectAll" resultType="java.util.Map">
        select * from teainfo;
    </select>
    <select id="selectTNO" resultType="java.util.Map">
        select * from teainfo where TNO like #{tno};
    </select>
    <select id="select" resultType="java.util.Map">
        select * from teainfo where TNO = #{tno};
    </select>
</mapper>