<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 命名空间 -->
<mapper namespace="com.hhu20.jsgl.mapper.TeamMapper">
    <update id="updatePnoandAwardInfo">
        update team
        set
            pno=#{pno},
            awardinfo=#{awardinfo}
        where teamno=#{teamno};
    </update>
    <update id="updateAwardAuditResult">
        update team set
                        R_AUDIT_RESULT = #{awardAuditResult}
        where teamno = #{teamno}
    </update>

    <select id="selectAll" resultType="java.util.Map">
        select * from team;
    </select>
</mapper>